/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    background-color: #37a1f7;
    color: #fff;
    padding: .5rem .7rem;
    border-radius: .5rem;
}

body {
    padding: 95px 0 0 0;
    
}
/* Nav Bar */
.header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;  
}

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

#nav-links {
    display: flex;
    gap: 1.5rem;
}

/* Conteúdo Principal */

.container {
   display: flex;
   gap: 3rem;
   padding: 2rem 2.5rem;
   max-width: 1200px;
   margin: 0 auto;
   
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.tittle, 
.description,
.author {
    margin-bottom: 1rem;
}

.tittle {
    font-size: 2rem;
}

.author {
    color: #333;
    font-weight: bold;
}

/* Barra Lateral */

#sidebar {
    flex: 1 1 0; 
}

#search-bar,
#categories,
#tags {
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: .5rem;
}

#search-bar h4,
#categories h4,
#tags h4 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
}

#search-bar input {
    padding: .5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    border: none;
    background-color: #37a1f7;
    color: #fff;
    transition: .5s; 
}

#search-bar input[type="submit"]:hover {
    background-color: #0363b3;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .5rem;
    transition: .5s;
}

#tags-container a:hover {
    background-color: #37a1f7;
    color: #fff;
}

/* Rodapé */

#footer {
    padding: 1.5rem 2.5rem;
    border-top: 2px solid #ddd;
    text-align: center;
}

#footer h2, 
#footer p {
    margin-bottom: 1rem;
}

/* Mobile  */

@media (max-width: 450px) {
    .container {
        flex-wrap: wrap;
    }
}